@model List<ECommerceGameSite.Models.Product>

<h2>Ürünler</h2>
<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <img src="@product.ImageUrl" alt="@product.Name" class="product-image" />
            <h3>@product.Name</h3>
            
            @if (product.IsRecommended)
            {
                <span class="badge bg-warning text-dark">Önerilen</span>
            }
            
            <p>@product.Description</p>
            <p><strong>Fiyat:</strong> @product.Price TL</p>
        </div>
    }
</div>

<style>
    .product-list {
        display: flex;
        gap: 20px;
    }
    .product-item {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        position: relative;
    }
    .product-image {
    width: 150px;
    height: 150px;
     object-fit: contain;
    border-radius: 8px;
    }
    .badge {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px 10px;
        background-color: gold;
        color: black;
        font-weight: bold;
        border-radius: 5px;
    }
</style>
